{{syryjski.pobierzImie()}}
{{syryjski.wiek}}
<button (click)="syryjski.wypuscChomika(true)">Wypuść </button>
<button (click)="syryjski.wypuscChomika(false)">Schowaj</button>
<div>
  Czy jest w klatce: {{syryjski.czyWKlatce}}
</div>

<div>
  <ul>
    <li *ngFor="let czynnosc of syryjski.czynnosciChomika">
      {{czynnosc}}
  </ul>
</div>
<div>
  <input [(ngModel)]="inputText">
  <button (click)= "onClick()">Dodaj czynność</button>
</div>

<br>
<div>
  Nazwa: <input [(ngModel)]="nowyKon.nazwa">
  Rasa: <input [(ngModel)]="nowyKon.rasa">
  Czy ma właściciela? <input [(ngModel)]="nowyKon.czyMaWlasciciela">
  <button (click)="onClick2()">Zatwierdź</button>
</div>
